USE [QLGV]
GO
ALTER TABLE [dbo].[GiaoVien] DROP CONSTRAINT [FK_GiaoVien_bomon]
GO
ALTER TABLE [dbo].[bomon] DROP CONSTRAINT [FK_bomon_GiaoVien]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 3/27/2024 7:32:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GiaoVien]') AND type in (N'U'))
DROP TABLE [dbo].[GiaoVien]
GO
/****** Object:  Table [dbo].[bomon]    Script Date: 3/27/2024 7:32:39 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[bomon]') AND type in (N'U'))
DROP TABLE [dbo].[bomon]
GO
USE [master]
GO
/****** Object:  Database [QLGV]    Script Date: 3/27/2024 7:32:39 PM ******/
DROP DATABASE [QLGV]
GO
/****** Object:  Database [QLGV]    Script Date: 3/27/2024 7:32:39 PM ******/
CREATE DATABASE [QLGV] ON  PRIMARY 
( NAME = N'QLGV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLGV.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLGV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLGV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGV]
GO
/****** Object:  Table [dbo].[bomon]    Script Date: 3/27/2024 7:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bomon](
	[mabm] [char](10) NOT NULL,
	[tenbm] [nvarchar](50) NULL,
	[GVTrBM] [char](10) NULL,
 CONSTRAINT [PK_bomon] PRIMARY KEY CLUSTERED 
(
	[mabm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 3/27/2024 7:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[magv] [char](10) NOT NULL,
	[tengv] [nvarchar](60) NULL,
	[ngaysinh] [datetime] NULL,
	[mabomon] [char](10) NULL,
 CONSTRAINT [PK_GiaoVien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bomon] ([mabm], [tenbm], [GVTrBM]) VALUES (N'CNTT      ', N'Công Nghệ Thông Tin', N'T04       ')
INSERT [dbo].[bomon] ([mabm], [tenbm], [GVTrBM]) VALUES (N'KHVL      ', N'Khoa Học Vật Liệu', N'T02       ')
INSERT [dbo].[bomon] ([mabm], [tenbm], [GVTrBM]) VALUES (N'VLTH      ', N'Vật Lý Tin Học', N'T01       ')
GO
INSERT [dbo].[GiaoVien] ([magv], [tengv], [ngaysinh], [mabomon]) VALUES (N'T01       ', N'Nguyễn Kim Anh', CAST(N'1980-04-17T00:00:00.000' AS DateTime), N'VLTH      ')
INSERT [dbo].[GiaoVien] ([magv], [tengv], [ngaysinh], [mabomon]) VALUES (N'T02       ', N'Đào Nguyễn Bùi', CAST(N'1975-06-25T00:00:00.000' AS DateTime), N'KHVL      ')
INSERT [dbo].[GiaoVien] ([magv], [tengv], [ngaysinh], [mabomon]) VALUES (N'T03       ', N'Huỳnh Thị Chanh', CAST(N'1990-12-29T00:00:00.000' AS DateTime), N'CNTT      ')
GO
ALTER TABLE [dbo].[bomon]  WITH CHECK ADD  CONSTRAINT [FK_bomon_GiaoVien] FOREIGN KEY([GVTrBM])
REFERENCES [dbo].[GiaoVien] ([magv])
GO
ALTER TABLE [dbo].[bomon] CHECK CONSTRAINT [FK_bomon_GiaoVien]
GO
ALTER TABLE [dbo].[GiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_GiaoVien_bomon] FOREIGN KEY([mabomon])
REFERENCES [dbo].[bomon] ([mabm])
GO
ALTER TABLE [dbo].[GiaoVien] CHECK CONSTRAINT [FK_GiaoVien_bomon]
GO
USE [master]
GO
